:root {
	
}

body {
	margin: 0;
	padding: 0;
}

.x {
	background-color: black;
	border: 10px;
}

.footer-start a {
	margin: 20px;
}

.header-start {
}

.body-start {
	
}

.body-start-header {
	
}

.body-start-first {
	
}

.body-start-second {
	
}

.body-start-third {
	
}

.footer-start {
	
}